
:root {
    --brand: #15616D;
    --action: #78290F;
    --brand-comp: #ffa300;
    --action: #27B7CE;
    --base-light: #ffecd1;
    --white: #eae2e2;
    --base: #ffecd1;
    --black: #111111;
    --text: #001524;
  }
 
  /* CSS Reset */
 
 html {
     box-sizing: border-box;
     font-size: 16px;
     font-family: Helvetica, Arial, sans-serif;
     color: var(--text);
     scroll-behavior: smooth;
   }
   
   *,
   *:before,
   *:after {
     box-sizing: inherit;
   }
   
   h1 {
    color: var(--brand)
   }
   h2,
   h3,
   h4,
   h5,
   h6 {
    font-family: Helvetica, Arial, sans-serif;
   }
   
   body,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ol,
   ul {
     margin: 0;
     padding: 0;
   }
   
   ol,
   ul {
     list-style: none;
   }
   
   img {
     max-width: 100%;
     height: auto;
   }
   
   input,
   button,
   textarea,
   select {
     font: inherit;
   }
 

 /* Components */

/* header */
header {
  border: 1px solid red;
  background-color: var(--brand);
  border-radius: 10px;
}
header.header_logo {
  max-width: 5%;
  height: 6px;
 }

header.headernav {
  display: inline-block;
  margin-right: 10px;
}

/* hero */

.hero {
  background-color: var(--base);
  padding: 56px 16px;
  border-radius: 10px;
  margin: 5px 10px;
}

.hero img {
  border-radius: 0 50% 50% 50%;
}

 @media (min-width: 10000px) {
  p {
      font-size: x-large;
  }
}

@media not screen {
  body {
      background-color: white;
  }

  h1, h2, p {
      color: black;
  }
}